
/* DEVELOPER Kamal Patibandla, IS117-040, Summer 2021 */


/*
#body{
  background-color: BlanchedAlmond;
}
*/



/*
div.a{

  text.align : center;
}
*/

#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;
   background:azure;
}
